<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        {% block menu %}
        <a href="/dashboard" class="text-white bg-secondary">Library</a> | 
        <a href="/songs/new" class="text-white bg-secondary">Add to Library</a> | 
        <a href="/concerts" class="text-white bg-secondary">Concerts</a> |
        <a href="/concerts/new" class="text-white bg-secondary">Concert Planner</a> | 
        <a href="/concerts/community" class="text-white bg-secondary">Community Page</a> | 
        <a href="/logout" class="text-white bg-secondary">Logout</a>
        {% endblock menu %}
    </div>
</body>
</html>