<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Song</title>
</head>
<body>
    <header>
        <nav class="text-center card bg-secondary text-white">
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    </br> 
    <main>
        <div class="container">
            <h1 class="text-center">Add Sheet Music</h1>
            </br>
            <div class="card col-5 mx-auto bg-dark text-white">
                <form action="/songs/create" method="POST">
                    <div>
                        <div>
                            {% with messages = get_flashed_messages(category_filter=['create']) %}
                                {% if messages %}
                                <alert class="card bg-danger">
                                        {% for message in messages %}
                                        <p>{{message}}</p>
                                        {% endfor %}
                                </alert>
                                {% endif %}
                            {% endwith %}
                            <div>
                                <label for="name">Title:</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                            <div>
                                <label for="composer">Composer:</label>
                                <input type="text" name="composer" id="composer" class="form-control">
                            </div>
                            <div>
                                <label for="arranger">Arranger:</label>
                                <input type="text" name="arranger" id="arranger" class="form-control">
                            </div>
                            <div>
                                <label for="type">Ensemble Type:</label>
                                <input type="text" name="type" id="type" class="form-control">
                            </div>
                            <div>
                                <label for="number">Number of Copies:</label>
                                <input type="number" id="number" name="number" value="0" min="1" max="9999999" class="form-control">
                            </div>
                            <div>
                                <label for="description">Description:</label>
                                <input name="description" id="description" cols="30" rows="4" class="form-control">
                            </div>
                            <br>
                            <div class="d-flex justify-content-around">
                                <a href="/dashboard" class="btn btn-danger">Cancel</a>
                                <button class="btn btn-success">Create</button>
                            </div>
                            </br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
